{% extends 'glowny.html' %}
{% block title %} Zapisz{% endblock %}
<!-- film_form.html -->
{% load bootstrap %}
{% block body %}

<div class="film_form">
    <div>

                <td><h5 style="text-align: center;">Aktorzy z bazy danych</h5></td>


</div>
      <div>
        <table>
            <tr>
                <td><a class="nav-link" href="{{request.META.HTTP_REFERER}}"><i class="fas fa-home"></i> Powrót</a></td>
                <td width="35%"></td>
                <td><a class="nav-link" href="{% url 'new_actor_in_movie' film.id %}"><i class="fas fa-plus"></i> Dodaj nowego aktora do bazy danych</a></td>
            </tr>
        </table>
</div>

    <table class="table table-hover">
    {% for item in form %}

    <tr>
        <th scope="row"><img src="/media/{{item.photo}}" alt="" style="height: 100px "></th>
        <td colspan="2"></td>
        <td>{{ item }}<p style="text-align: right;"><button onclick="newwww()" >Dodaj</button></p></td>
    </tr>
    {% endfor %}
</table>
        </div>
    </div>
</div>
{% endblock %}
